* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.debounced {
    background-color: rgba(0, 255, 255, 0.256);
    margin-top: 50px;
    display: inline-block;
    border: 1px solid black;
    min-height: 15px;
    min-width: 30px;
    max-width: fit-content;
    padding: 5px;
}

#input-field{
    padding: 10px;
}